@use 'variaveis';

.footer {
    background-color: rgb(14, 0, 20); 
    color: variaveis.$corTextoSecundario;
    text-align: center;
    padding: 15px;
    font-size: 16px;
}

.footer a {
    color: variaveis.$corTextoPrincipal;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer {
        font-size: 14px;
        padding: 10px;

        a {
            font-size: 14px;
        }
    }
}

@media (max-width: 480px) {
    .footer {
        font-size: 12px;
        padding: 8px;

        a {
            font-size: 12px;
        }
    }
}
