@use 'variaveis';

.footer {
    background-color: rgb(14, 0, 20); 
    color: variaveis.$corTextoSecundario;
    text-align: center;
    padding: 15px;
    font-size: 16px;
}

.footer a {
    color: variaveis.$corTextoPrincipal;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}
