@use 'variaveis';

menu {
    position: relative;

    .logo_menu {
        width: 270px;
        height: auto;
        max-width: 100%;
        margin-left: 10px;
    }

    nav {
        background-color: variaveis.$corFundoNav;
        position: sticky;
        top: 0;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            margin-right: 32px;
            display: flex;

            li {
                display: inline-block;
                margin: 8px;

                .link_menu {
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 1.3em;
                    color: variaveis.$corBotoes;
                    border-radius: 5px;
                    padding: 10px;

                    &.active {
                        color: variaveis.$corBotoes;
                        background-color: variaveis.$corFundoBotoes;
                    }
                }
            }
        }

        // Responsividade
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            ul {
                margin-right: 0;
                display: block;
            }

            li {
                display: block;
                width: 100%;
                text-align: left;
            }

            .logo_menu {
                margin-bottom: 10px;
            }
        }

        @media (max-width: 480px) {
            ul {
                text-align: center;
            }

            li {
                margin: 5px 0;
            }

            .link_menu {
                font-size: 1.1em;
                padding: 8px;
            }
        }
    }
}

