@use 'variaveis';

.personagens {
    padding: 5.6vw;
    text-align: center;
    background-color: rgb(13, 0, 19);

    .title_personagens {
        font-size: 3rem;
        font-weight: bold;
        color: variaveis.$corTextoPrincipal;
        margin-bottom: 90px;
        text-transform: uppercase;
    }

    .cards_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: 20px;

        .card {
            background-color: rgb(8, 0, 12);
            border: 1px solid rgb(53, 0, 78);
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            max-width: 300px;
            margin: 0 auto;
            padding: 20px;
            text-align: left;
            transition: transform 0.3s, box-shadow 0.3s;

            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
            }

            .card-image {
                width: 100%;
                border-radius: 8px;
                margin-bottom: 15px;
                object-fit: cover;
            }

            .card-title {
                font-size: 1.25rem;
                color: variaveis.$corTextoPrincipal;
                margin-bottom: 10px;
            }

            .card-text {
                font-size: 0.9rem;
                color: variaveis.$corTextoSecundario;
                margin-bottom: 15px;
            }

            .card-link {
                display: inline-block;
                color: variaveis.$corTextoPrincipal;
                background-color: variaveis.$corFundoBotoes;
                padding: 10px;
                border-radius: 5px;
                text-decoration: none;
                font-weight: bold;
                transition: color 0.3s;

                &:hover {
                    color: #ff3300;
                }
            }
        }
    }
}

.veja_mais {
    margin-top: 40px;
    text-align: center;
}