@use 'variaveis';

.sinopse {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    &_img {
        max-width: 100%;
    }

    &_container {
        padding: 2vw;
    }

    &_title {
        font-size: 2.2em;
        font-weight: bold;
        color: variaveis.$corTextoPrincipal;
        margin-bottom: 24px;
    }

    &_paragrafo {
        color: variaveis.$corTextoSecundario;
    }

    // Responsividade
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        &_title {
            font-size: 1.8em;
            margin-bottom: 18px;
        }
    }

    @media (max-width: 480px) {
        &_title {
            font-size: 1.5em;
        }

        &_paragrafo {
            font-size: 0.9em;
        }

        padding: 4vw;
    }
}

.referencia {
    padding: 2vw;

    &_img {
        max-width: 100%;
    }

    &_title {
        font-size: 2.2em;
        font-weight: bold;
        color: variaveis.$corTextoPrincipal;
        margin-bottom: 24px;
    }

    &_paragrafo {
        color: variaveis.$corTextoSecundario;
    }

    
    @media (max-width: 768px) {
        &_title {
            font-size: 1.8em;
            margin-bottom: 18px;
        }
    }

    @media (max-width: 480px) {
        padding: 4vw;
        &_title {
            font-size: 1.5em;
        }

        &_paragrafo {
            font-size: 0.9em;
        }
    }
}
