@use 'hero';
@use 'sinopse';
@use 'personagens';
@use 'motivosParaVer';
@use 'footer';
@use 'variaveis';


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: variaveis.$corDeFundo;
    color: variaveis.$corTextoSecundario;
}

h1, h2 {
    font-family: "Do Hyeon", sans-serif;
}

p {
    font-size: 1.1em;
}

a, p {
    font-family: "Roboto", sans-serif;
}